* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

ul {
    margin: 0;
    padding-left: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style-position: outside;
    list-style-type: none;
}

input,
button,
textarea,
select {
    margin: 0;
    color: var(--primary-color);
}

a {
    text-decoration: none;
}
