.AppLink {
    color: inherit;
    font: var(--font-main-sub-text);
    transition: 200ms;
    text-decoration: none;

    &:hover {
        opacity: 0.8;
    }

    &:active,
    &:focus {
        color: var(--accent-color-main);
    }
}
