
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    z-index: -2;
    margin: 0px;
    padding: 0px;
    width: 1440 px;
    height: 10559px;
    background: #ECF0F1;
    
}
.logo{
    
    
    width: 205px;
    height: 53px;
    margin-left: 42px;
    margin-top: 24px;
}

h1{
    
    width: 370px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 33px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 110px;
    text-align: center;
    text-transform: uppercase;

    background: linear-gradient(93.03deg, #9ABBEC 0%, #6196E4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

p{
  margin: 0;
font-family: 'Istok Web';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;
text-align: center;
color: #000000;
}

.asd{
    display: inline-flex; 
    width: 30px; 
    height: 45px;  
    margin-left: 15px;
    flex-direction: row;
    justify-content: center;
    background: #FFFFFF;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0px 4px 10px -5px rgba(118, 138, 159, 0.1);
    border-radius: 10px;
    margin-top: 20px;
}

h2{
    font-family: 'Istok Web';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 58px;
/* identical to box height */

text-align: center;

color: #000000;
}

.qwerty{
    display: flex;
    justify-content: center;
}

h3{
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    text-align: center;

    color: #000000;
}
.h3{
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    text-align: center;

    color: #000000;

}

.h31{
    display: inline-block;
    
    
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    text-align: center;

    color: #000000;
}

.qwerty{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    
}
a{text-decoration: none!important;}
button{
      
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
        
    text-align: center;
    
    color: #FFFFFF;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 0;
    

    width: 450px;
    height: 55px;

    background: linear-gradient(93.03deg, #9ABBEC 0%, #6196E4 100%);
    border-radius: 111px;
}

.skrito{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    width: 600px;
    margin-top: 20px;
    color: #B7B8B9;
}

.code{
    text-align: center;
    font-size: 35px;
    color: black;
}
