.PlatformCard {
}

.title {
    font-style: normal;
    font-weight: 400;
}

.icon {
    width: 20px;
    height: 20px;
}

.photo {
    border-radius: 30px;
}

.block {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background: crimson;
}
