.CostBadges {
    padding: 5px 10px;
    border-radius: 20px;
    background: var(--inverted-bg-color);
}

.mt3000 {
    background: linear-gradient(93.03deg, rgb(162 113 223 / 50%) 0%, rgb(244 79 188 / 50%) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.lt3000 {
    background: linear-gradient(93.03deg, rgb(170 103 255 / 50%) 0%, rgb(79 165 244 / 50%) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.met3000 {
    color: #9abbec;
}

.let3000 {
    color: #6196e4;
}

.free {
    background: linear-gradient(93.03deg, rgb(170 103 255 / 50%) 0%, rgb(79 165 244 / 50%) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
