.SearchPage {

}

.mainHeader {
    font-size: 120px;
    font-weight: bold;
    background-color: var(--accent-color-sec);
    background-image: var(--accent-grad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subheader {
    background-color: var(--accent-color-sec);
    background-image: var(--accent-grad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 32px;

    &:nth-child(3) {
        margin-top: 60px;
    }
}

.searchInput {
    width: 450px;
    color: inherit;
}

.expandSearch {
    width: 700px;
}
