.ComplaintsList {

}

.link {
    color: black;
    text-decoration: underline;
}

.firstRow {
    width: 100%;
    padding: 3px 0;
    border-radius: 15px;
    display: grid;
    align-items: center;
    font-size: 16px;
    text-align: center;
    grid-gap: 20px;
    grid-template-columns: 2fr 1fr 3fr 2fr 2fr;

    p {
        font-size: 16px;
    }

    .comment {
        text-align: justify;
    }

    &:first-child {
        font-weight: bold;
        margin-bottom: 30px;
    }

    &:nth-child(2n) {
        background: var(--accent-color-main);
    }
}

.icon {
    width: 32px;
    height: 32px;
}
