.CarouselWrapper {
    position: relative;
}

.arrowsWrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &:first-child {
        left: -40px;
    }

    &:last-child {
        right: -40px;
    }
}

.arrows {
    width: 60px;
    height: 60px;
}
