.PlatformPage {
}

.header {
    margin-bottom: 60px;
}

@media (width > 1200px) {
    .contactsWrapper {
        margin-top: 50px;
        margin-left: 250px;

        h2 {
            text-align: center;
        }
    }

}

@media (width <= 1200px) {
    .contactsWrapper {
        margin: 50px auto;

        h2 {
            text-align: left;
        }
    }

}
