.LoginPage {

}

.Form {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    color: #323232;
    background: var(--inverted-bg-color);
    font: var(--font-line-main-text);
    font-size: 16px;
    font-weight: 700;
    transition: 200ms ease-in-out;
    font-family: "Istok Web", sans-serif;
    font-style: normal;
    line-height: 23px;

    &:focus {
        outline: none;
    }

    &:disabled {
        cursor: auto;
        color: rgb(183 184 185 / 10%);
        background: rgb(183 184 185 / 10%);
    }
}

.link {
    color: #b7b8b9;
    font-size: 16px;
    text-decoration-line: underline;

    &:first-child {
        margin-right: 40px;
    }
}

.errorMessage {
    width: 100%;
    color: #ff9191;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
}

.error {
    color: #ff9090;
    background: linear-gradient(0deg, rgb(255 144 144 / 10%), rgb(255 144 144 / 10%)), #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
}

.mainHeader {
    font-size: 120px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--accent-color-sec);
    background-image: var(--accent-grad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.smallMainHeader {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--accent-color-sec);
    background-image: var(--accent-grad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.signInHelpersWrapper {
    margin-top: 45px;
}

.signInHelpers {
    font-size: 16px;
    margin-right: 30px;
}

.loginIcon {
    width: 32px;
    height: 32px;
}

.alert {
    margin: 20px 0;
}

.subtitle {
    font-size: 16px;
    font-weight: 400;
    white-space: pre-line;
    text-align: center;
}

.TabsWrapper {
    margin-top: 20px;
}
