.EditableProfileData {
    width: 100%;
}

.wrapper {
    width: 100%;
}

.editButton,
.title {
    margin: 10px auto;
}

.passwordSupport {
    padding: 0 20px;
    color: var(--accent-color-main);
    font-size: 15px;
    margin-top: 10px;
}

.yupInput {
    width: 100%;
}
