:root {
    --bg-color: #f7f7f7;
    --inverted-bg-color: #fff;

    // текст
    --primary-color: #323232;
    --secondary-color: #b7b8b9;

    // акценты
    --accent-color-main: #9abbec;
    --accent-color-sec: #6196e4;
    --accent-grad:
        linear-gradient(
            93.03deg,
            var(--accent-color-main) 0%,
            var(--accent-color-sec) 100%
        );

    // цвета
    --primary-bg-color: #446967;
    --success-bg-color: #125840;
    --warning-bg-color: #d8be54;
    --danger-bg-color: #b1291a;

    // skeleton
    --skeleton-shadow: #275594;
    --skeleton-color: #0e0e75;

    // card
    --card-bg: #8ca3c2;

    // listbox
    --listox-bg: #8db3b2;
}
