:root {
    --bg-color: #e5e5e5;

    // --inverted-bg-color: #0e0e75;

    // текст
    --primary-color: #dee1e1;
    --secondary-color: #c8cbcb;

    // цвета
    --primary-bg-color: #446967;
    --success-bg-color: #125840;
    --warning-bg-color: #d8be54;
    --danger-bg-color: #b1291a;

    // --accent-color: black;
    // --inverted-primary-color: black;
    // --inverted-secondary-color: black;

    // skeleton
    --skeleton-shadow: #275594;
    --skeleton-color: #0e0e75;

    // card
    --card-bg: #8ca3c2;

    // listbox
    --listox-bg: #8db3b2;
}
