.StepThreeForm {

}

.text {
    color: #323232;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    font-family: "Istok Web", sans-serif;
    font-style: normal;
    line-height: 120%;
    text-align: center;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
}
