.Navbar {
    width: 100%;
    padding: 20px 40px;
    background: var(--inverted-bg-color);
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.navbarLinks {
    font-weight: bold;
    background-color: var(--accent-color-sec);
    background-image: var(--accent-grad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mainIcon {
    width: 120px;
    height: 54px;
}

.navbar {
    color: var(--accent-color-sec);
    font: var(--font-main-sub-text);
}
