<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        {{ css }}
    </style>    
    <title>Успешная активация профиля</title>
</head>
<body>
    <h1>ПРОЩЕ</h1>
    <p><def class="qaz">Вы подтвердили свой аккаунт</def></p>
    <p>Мы рады сообщить Вам, теперь Вам доступен полный<br> функционал сервиса <button><a class="{{ href }}">ПРОЩЕ</a></button></p>
    <p>Мы всегда рады <def class="qaz">помочь</def> Вам со всеми возникающими вопросами.</p>

    <p class="skrito">Если вы считаете, что данное сообщение послано вам ошибочно, просто проигнорируйте его и все данные будут автоматически удалены.</p>
</body>
</html>