.Timepicker {

}

.ListGroup {
    padding: 10px;
    border-radius: var(--border-radius);
    background: var(--primary-bg-color);
}

.tab {
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: var(--border-radius);
    background: none;
    position: relative;
    white-space: pre;
    text-align: center;

    &:focus {
        outline: 2px solid var(--warning-bg-color);
    }
}

.cleanIcon {
}

.timeCheck {
    font-size: 14px;
    opacity: 0.7;
}

.selectedTab {
    color: #000;
    background: var(--card-bg);
}

.panel {
    padding: 10px;
    border-radius: var(--border-radius);
    color: black;
    background: var(--primary-bg-color);
    display: grid;
    align-items: center;
    margin-top: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    max-height: 300px;
    overflow-y: auto;
}

.timeCell {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: var(--border-radius);
    background: var(--card-bg);
    text-align: center;
}
