.InputWrapper {
    margin: 0;
    padding: 0;
    transition: 200ms ease-in-out;
    position: relative;
}

.btnWrapper {
    z-index: 1000;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.Input {
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    color: var(--primary-color);
    background: var(--inverted-bg-color);
    font: var(--font-line-main-text);
    transition: 200ms ease-in-out;

    &:focus {
        outline: none;
    }
}

.icon {
    width: 24px;
    height: 24px;
}
