.InputWrapper {
    margin: 0;
    padding: 0;
    transition: 200ms ease-in-out;
    position: relative;
}

.btnWrapper {
    z-index: 1000;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.Input {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    color: #323232;
    background: var(--inverted-bg-color);
    font: var(--font-line-main-text);
    font-size: 16px;
    font-weight: 700;
    transition: 200ms ease-in-out;
    outline: none;
    font-family: "Istok Web", sans-serif;
    font-style: normal;
    line-height: 23px;

    &:disabled {
        cursor: auto;
        color: rgb(183 184 185 / 10%);
        background: rgb(183 184 185 / 10%);
    }
}

.icon {
    width: 30px;
    height: 30px;
}

.error {
    color: #ff9090;
    background: linear-gradient(0deg, rgb(255 144 144 / 10%), rgb(255 144 144 / 10%)), #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
}

.errorMessage {
    width: 100%;
    color: #ff9191;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
}

.valid {
    background: rgb(0 255 0 / 20%);
}
