<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        {{ css }}
    </style>    
    <title>Блокировка пользователя</title>
</head>
<body>
    <h1>ПРОЩЕ</h1>
    <h2>Здравствуйте!</h2>
    <p>Сожалеем, но Ваш аккаунт на нашем сайте был <def class="qaz">заблокирован</def></p>
    
    <div class="tyu">
    <p class="sdf">Причина блокировки:</p>
    <p class="sdf1">{{ reason }}</p>
    </div>

    <div>
        <h3 style="margin-bottom: 0px;">Если Вы считаете, что мы допустили ошибку в блокировке Вашего аккаунта,пожалуйста, обратитесь <def class="qaz">в службу поддержки</def></h3>
    </div>

    <p class="skrito">Если вы считаете, что данное сообщение послано вам ошибочно, просто проигнорируйте его и все данные будут автоматически удалены.</p>
</body>
</html>