.BookPlatform {
    margin: 0 60px 0 250px;
    border-radius: var(--border-radius);
    background: rgb(154 187 236 / 10%);
}

.Form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 10px;
}

.header {
    font-size: 48px;
    font-weight: 700;
    line-height: 69px;
}
