.BookPlatform {
    margin-top: 20px;
    margin-left: 250px;
    border-radius: var(--border-radius);
    background: rgb(154 187 236 / 10%);
}

.header {
    font-size: 48px;
    font-weight: 700;
    line-height: 69px;
}

.errorMessage {
    width: 100%;
    color: #ff9191;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
}

.feedbackClasses {
    width: 100%;
}

.textarea {
    width: 75%;
}

.formWrapper {
    width: 100%;
}
