.BookPlatform {
    border-radius: var(--border-radius);
    background: rgb(154 187 236 / 10%);
    margin-top: 20px;
}

@media (width <= 1200px) {
    .BookPlatform {
        margin: 50px 0;
    }

}

.header {
    font-size: 48px;
    font-weight: 700;
    line-height: 69px;
}

.errorMessage {
    width: 100%;
    color: #ff9191;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
}

.feedbackClasses {
    width: 100%;
}

.textarea {
    resize: vertical;
    width: 120%;
}

.formWrapper {
    //width: 100%;
}

.input {
    width: 100px;
    height: 50px;
    padding: 11px 13px;
    border: none;
    border-radius: 10px;
    color: #323232;
    background: #fff;
    font-size: 24px;
    font-weight: 700;
    outline: none;
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    appearance: textfield;
    box-shadow: 0 4px 10px -5px rgb(118 138 159 / 10%);

    &:focus {
        background: rgb(154 187 236 / 20%);
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.7;
    }
}
