.Comment {
    position: relative;
}

.skeletonVStack {
    width: 100px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.photoPlaceholder {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--accent-grad);

    p {
        color: var(--inverted-bg-color);
        font-size: 24px;
        text-align: center;
        vertical-align: center;
        line-height: 100px;
    }
}

.icon {
    width: 32px;
    height: 32px;
}

.commentName {
    font-size: 24px;
    font-weight: 400;
}

.commentBody {
    font-size: 16px;
    max-height: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 110%;
    white-space: pre-line;
}

.header {
    width: 100%;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    line-height: 46px;
}
