.normal {
    cursor: pointer;
    width: 500px;
    height: 180px;
    padding: 25px 30px;
    border-radius: 20px;
    background: var(--inverted-bg-color);
}

.expand {
    width: 500px;
    height: 500px;
    padding: 50px 100px 80px;
    border-radius: 20px;
    background: var(--inverted-bg-color);
}
