.calendar__dayCell-selected {
    background-color: green !important;
}

.calendar__dayCell-selectedStart {
    border: none !important;
    background: red !important;
    outline: none !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

.calendar__dayCell-selectedEnd {
    border: none !important;
    color: black !important;
    background: yellow !important;
    outline: none !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;

    * {
        color: black !important;
    }
}

.calendar__month-arrowNext {
    * {
        transition: 200ms !important;
        fill: green !important;

        &:hover {
            fill: chocolate !important;
        }
    }
}

.calendar__dayCell {
    border-radius: 5px !important;
    background: lightskyblue !important;
    transition: 200ms !important;

    * {
        color: black !important;
    }
}

.calendar__month-content {
    * {
        color: red !important;
    }
}

.calendar__dayCell:hover {
    color: black !important;
    background: orangered !important;

    * {
        color: black !important;
    }
}
