.PlatformBody {

}

.mainWrapper {
    margin: 0 60px 0 250px;
}

.platformDescription {
    font-size: 24px;
    text-indent: 20px;
    white-space: pre-wrap;
    text-align: justify;
    font-style: normal;
    line-height: 35px;
}

.orgTel {
    margin-top: 15px;
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
}

.orgMailWrapper {
    cursor: pointer;
    padding: 10px 25px;
    border-radius: 24px;
    background: #ecf0f1;
}

.orgEmail {
    padding: 0;
    margin: 0;
    text-align: center;
    color: #323232;
    font-size: 16px;
    line-height: 100%;
}

.carousel {
    width: 690px;
    height: 440px;
}

.orgTitle {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    line-height: 46px;
}

.refIcon {
    width: 32px;
    height: 32px;
}

.timeIcon {
    width: 30px;
    height: 30px;
}

.orgName {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    line-height: 100%;
}
