.Badges {
    padding: 5px 10px;
    border-radius: 20px;
    color: var(--inverted-bg-color);
    font-size: 12px;
    font-weight: 700;
    line-height: 17px;
}

.coworking {
    background: linear-gradient(93.03deg, rgb(154 187 236 / 50%) 0%, rgb(97 150 228 / 50%) 100%);
}

.gallery {
    background: linear-gradient(93.03deg, rgb(190 154 236 / 50%) 0%, rgb(139 97 228 / 50%) 100%);
}

.event {
    background: linear-gradient(93.03deg, rgb(108 224 134 / 50%) 0%, rgb(119 202 106 / 50%) 100%);
}

.mc {
    background: linear-gradient(93.03deg, rgb(82 230 115 / 50%) 0%, rgb(255 204 22 / 50%) 83.33%);
}

.lecture {
    background: linear-gradient(93.03deg, rgb(36 193 184 / 50%) 0%, rgb(117 209 61 / 50%) 83.33%);
}

.festival {
    background: linear-gradient(93.03deg, rgb(162 113 223 / 50%) 0%, rgb(244 79 188 / 50%) 100%);
}

.film {
    background: linear-gradient(93.03deg, rgb(170 103 255 / 50%) 0%, rgb(79 165 244 / 50%) 100%);
}
