.StepTwoForm {

}

.text {
    color: #323232;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    font-family: "Istok Web", sans-serif;
    font-style: normal;
    line-height: 120%;
    text-align: center;
}

.codes {
    margin-bottom: 30px;
}
